<% provide(:copy, 'いいとこだよね、') %>
<% provide(:copy2, 'と思える場所で暮らす') %>
<% provide(:subtext1, 'いろんな働き方や生活スタイルがあたりまえ。') %>
<% provide(:subtext2, '都会だけがすべてじゃない。') %>
<% provide(:subtext3, '自分にあった移住先を見つけよう。') %>
<div class="container">
  <h1 class="title">今週のピックアップ</h1>
  <%= render @locals %>
</div>