<% provide(:copy, 'いいとこですよ、と地元愛を語る場所') %>
<% provide(:subtext1, '自分の街のいいところを再発見') %>
<% provide(:subtext2, '住みたい人とあなたの町をつなぐ。') %>

<section class="lp_section txt-center">
  <h2>iitokoで未来の住民に出会う</h2>
  <p>期間限定ではなく、ずっと住んでくれる人と出会いたい<br>
    iitokoならあなたの町がたくさんの人のふるさとになります。</p>
  <div><%= image_tag 'lp_img01.png' %></div>
  <%= link_to '無料で会員登録する', new_local_registration_path, class: 'pink_btn smart_btn' %>
</section>