<% provide(:button_text, '次へ') %>
<h1>ドンナトコ？</h1>
<% if user_signed_in? %>
  <p>あなたの住みたい場所はドンナトコか教えてください</p>
  <p>移住先に求める条件、下記６項目の重要度をそれぞれ０〜５の星の数で教えてください</p>
<% else %>
  <p>あなたの町はドンナトコか教えてください</p>
  <p>町の特色や力を入れていること、下記６項目の重要度をそれぞれ０〜５の星の数で教えてください</p>
<% end %>

<p>０：重視しないー５：とても重視する</p>

<%= render 'form' %>