<h1>ブックマーク一覧</h1>

<p>ブックマーク：　<%= @bookmarked_locals.count %>件</p>
<% if @bookmarked_locals.any? %>
  <ul>
    <% @bookmarked_locals.each do |local| %>
      <li><%= link_to local.name, local_path(local) %></li>
    <% end %>
  </ul>
<% else %>
  まだブックマークしていません。
  <ul>
    <li><%= link_to 'iitoko 検索', search_path %></li>
    <li><%= link_to 'おすすめの町をチェック', top_path %></li>
  </ul>
<% end %>