<div class="container top60">
<h1 class="with_info"><i class="fas fa-stream"></i> タイムライン</h1>
<p class="page_info">お気に入り登録した自治体の新着記事をこちらで見ることができます。</p>
<% if @articles.any? %>
    <%= render @articles, one_column: true %>
    <div class="paginate_area">
      <%= paginate @articles %>
    </div>
<% end %>
</div>
