<section class="donnatoko">
  <div class="container">
    <h1 class="with_info top60">プロフィール設定</h1>
    <p class="page_info btm10per">プロフィールを設定しましょう</p>
    <%= render 'form', withcomment: true %>
  <div>
</section>