<h1>ようこそ！</h1>
<% if user_signed_in? && @user.score == nil %>
  <p>iitokoであなたの住みたいトコ見つけてください</p>
  <%= link_to "＞＞住みたいトコ、ドンナトコ？", new_score_path %>
<% elsif local_signed_in? && current_local.score == nil %>
 <p>あなたの町の特色を登録しましょう</p>
  <%= link_to "＞＞あなたの町、ドンナトコ？", new_score_path %>
<% else %>
 <p>ドンナトコは登録ずみです。引き続きiitokoをご活用ください。</p>
 <%= link_to "トップページへ", root_path %>
<% end %>