<div class="container top60 btm10per">
  <h1 class="with_info"><i class="fas fa-map-signs"></i> <%= @pref.name %>の地域一覧</h1>
  <p class="page_info"><%= @pref.name %>のイイトコ随時更新中！</p>

  <% if @locals.any? %>
    <%= render @locals %>
    <%= paginate @locals %>
  <% else %>
    <p>まだ登録された地域がありません</p>
  <% end %>
</div>