@import "bootstrap-sprockets";
@import "bootstrap";

$pc: 1024px; // PC
$tab: 1024px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


$key-green: #2D5D24;
$font-green: #003300;
$key-coral: #E38692;
$key-blue: #86c1e3;

/* universal */

body {
  padding-top: 60px;
  background-image: image-url('bgimage.png');
  background-size: cover;
  font-family: 'Noto Sans JP', sans-serif;
  color: $font-green;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.pink_btn {
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  background-color: $key-coral;
  color: #fff;
  border: 2px solid $key-coral;
  border-radius: 50px;
  padding: 1em 5em;
  margin: 0 auto;

  &:hover {
    background-color: #fff;
    color: $key-coral;
  }
}
.repink_btn {
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  background-color: #fff;
  color: $key-coral;
  border: 2px solid $key-coral;
  border-radius: 50px;
  padding: 1em 5em;
  margin: 0 auto;

  &:hover {
    background-color: $key-coral;
    color: #fff;
  }
}

.flex_wrap {
  display: flex;
  justify-content: space-between;
}

a { 
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


// ================
//    header
// ================

header {
  background: rgba(255, 255, 224, 0.3)
}

.logonnav {
  display: flex;
  display:-webkit-box;
  display:-ms-flexbox;
}

#logo {
  margin-right: auto;
}

.logo {
  margin: 10% auto;
  width: 100px;
}

nav {
  padding: 1% 0;
}

.nav {
  display: flex;
  display:-webkit-box;
  display:-ms-flexbox;
  justify-content: space-between;
}

.navItem {
  color: $key-green;
  padding: 2px 10px !important;
  margin: 5px;
  &:hover {
    background-color: transparent !important;
    border-bottom: 2px solid $key-blue;
  }
}
.navText {
  margin: 12px auto;
}

.navButton {
  color: #fff;
  border-radius: 30px;
  margin: 12px;


  &.login_btn {
    background-color: $key-green;
    border: 1px solid $key-green;
    &:hover {
      background-color: #fff;
      color: $key-green;
    }
  }

  &.signin_btn {
    background-color: $key-coral;
    border: 1px solid $key-coral;
    &:hover {
      background-color: #fff;
      color: $key-coral;
    }
  }
}

.noticeBadge {

  &:after{
  content:"";
  position: absolute;
  background: tomato;
  height:7px;
  width:7px;
  top: 0px;
  right: 4px;
  text-align: center;
  border-radius: 50%;
  color:white;
  }
}

// ================
//    footer
// ================

footer {

  .footer-bg {
    position: relative;
    background: image-url('mountain_low.png') no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 80px 0 0;
    margin-bottom: -2px;
  }

  .wrapper {
    background-color: $key-green;

    .container {
      text-align: center;
      color: #fff;

      ul {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0 5% 5%;
      }

    }

  }

  .sns {
    margin-bottom: 5%;
    font-size: 2rem;
  }

  .footer-logo {
    width: 100px;
    margin: 10px;
  }


}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin: 4% auto 8%;
  text-align: center;
  position: relative;

  &.title {
    &:before {
      content: "";
      position: absolute;
      top: -19px;
      left: 50%;
      width: 150px;
      height: 80px;
      border-radius: 50%;
      border: 5px solid #a6ddb0;
      border-left-color: transparent;
      border-right-color: transparent;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    @include sp {
      font-size: 2em;
    }

  }
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }

/* forms */

// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   width: 100%;
//   margin-bottom: 15px;
//   @include box_sizing;
// }

.form_area_w {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 3% 12%;
  font-size: 1.2em;

  .flex_form_row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5%;

    @include sp {
      display: block;
      .flex_form {
        input, textarea, select, .uneditable-input {
          width: 100%;
        }
        select.width80 {
          width: 80%;
        }
      }
    }
    .flex_label {
      flex: 1;
    }
    .flex_form {
      flex: 3;
      select {
        height: auto;
        padding: 1%;
        border-radius: 5px;
      }
      input {
        padding: 1%;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #777;
      }
      textarea {
        padding: 1%;
        border-radius: 5px;
        width: 100%;
      }
      p.help_note {
        color: #777;
        font-size: 0.9em;
        margin: 0;
      }
    }

  }
  .pink_btn {
    font-size: 1em;
    padding: 1% 10%;
    display: block;
    margin: 8% auto 3%;
  }
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.score {
  display: flex
}

.point {
  padding: 5px 10px;
  margin: 0 10px;
}


// ================
//    title area
// ================
.title_area {
  background: image-url('main.png') no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 5% 0;
  margin-top: 1%;

  h1 {
    margin-top: 5%;
    text-align: left;
    line-height: 1.5em;
  }
}

.text_area {
  margin: 5% 0;
}
.title_txt {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}
.btn_area {
  text-align: center;
    @include pc {
      display: flex;
      justify-content: center;
    }

  .title_btn {
    text-decoration: none;
    font-size: 1.2em;
    color: $key-coral;
    background-color: #fff;
    border: 3px solid $key-coral;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 10px;

    a {
      text-decoration: none;
      color: $key-coral;
    }

    @include pc {
        width: 30%;
    }

    &:hover {
      background-color: $key-coral;
      a {
        color: #fff;
      }

    }

    &.pink_btn {
      background-color: $key-coral;
      a {
        color: #fff;
      }

      &:hover {
        background-color: #fff;
        a {
          color: $key-coral;
        }

      }

    }
  }

}


// ================
//    LOCAL_INDEX
// ================

.card {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 3%;
  padding: 2%;

  @include pc {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    margin-bottom: 3%;
    padding: 2% !important;
  }

}

.slick-slide {
  .card {
    margin: 1% 10px 0;

  }

  @include pc {
    .card {
      max-width: 1140px;
      height: 400px;
    }
  }

  @include tab {
    .card {
      width: 720px;
    }
  }

  @include sp {
    .card {
      width: 360px;
    }
  }
}

.card_left {
  flex: 1;
  margin: 1%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.matchrate {
  display: inline-block;
  color: $key-coral;
  background-color: #fff;
  text-align: center;
  border: 5px solid $key-coral;
  padding: 3%;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: 3%;
  left: 2%;

  p {
    margin: 3px 0 0;
  }

  p.rate {
    font-size: 2em;
    font-weight: 600;
    margin-top: -10px;

  }
}

.card_right {
  flex: 1;
  margin: 1%;
  position: relative;
  padding-bottom: 10%;

  .btn_area {
    position: absolute;
    bottom: 1%;
    left: 18%;
    width: 65%;
    font-size: 1.2em;

    .pink_btn {
      padding: 3% 20%;
    }
  }

  dl {
    dt {
      .gravatar {
        display: inline-block !important;
      }
    }
  }
}
.card_name {
  font-size: 2em;
  line-height: 2em;
}
.catchphrase {
  padding: 1%;
  line-height: 2em;
  font-weight: 500;
  font-size: 1.2em;
}

.fa-chevron-left {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 42%;
  color: $font-green;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
.fa-chevron-right {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  right: 0;
  top: 42%;
  color: $font-green;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
.slide-dots{
  text-align: center;
  padding: 0;
  li{
    display: inline-block;
    line-height: 3em;
    margin: 0 15px;
    button{
      background: none;
      position: relative;
      text-indent: -9999px;
      border: none;
      &:before{
        content: '●';
        color: #999;
        font-size: 1em;
        text-indent: 0px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &.slick-active{
      button:before{
        content: '●';
        color: $font-green;
      }
    }
  }
}


// ================
//    LOCAL_SHOW
// ================
.tags {
  display: flex;
}
.tag {
  display: inline-block;
  padding: 0px 10px 2px;
  margin: 1px 3px;
  justify-content: space-between;
  border: 1px solid #aaa;
  border-radius: 30px;
  color: #aaa;
}
.header_image {
  width: 100%;
  height: 400px;
}
img.header_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.n-circle {
  position: absolute;
  font-size: 0.5em;
  padding-left: 1rem;
  padding-top: 0rem;
  color: tomato;
}

.gravatar {
  border-radius: 50%;
}

.gravatar_edit {
  margin-top: 15px;
}


// ================
//    donnatoko
// ================
.donnatoko {
  background: image-url('main.png') no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 5%;
  margin-bottom: 5%;
  h1 {
    margin-top: 5%;
    text-align: left;
    line-height: 1.5em;
  }
}

.fa-caret-square-left {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  left: 40%;
  top: 60%;
  color: $font-green;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  @include sp {
    font-size: 2.5em;
    left: 30%;
  }
}
.fa-caret-square-right {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  right: 40%;
  top: 60%;
  color: $font-green;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  @include sp {
    font-size: 2.5em;
    right: 30%;
  }
}
.slick-disabled {
  display: none !important;
}

