
$pc: 1024px; // PC
$tab: 1024px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


$key-green: #2D5D24;
$font-green: #003300;
$key-coral: #E38692;
$key-blue: #86c1e3;

.japan_map{
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  display: table;
}

.map_img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

/* 日本地図画像（スマホ対応用） */
.japan_map img{
  max-width: 100%;
  height: auto;
  border: 0;
  -webkit-backface-visibility: hidden;
}
/* 日本地図ボタン */
.japan_map .area_btn{
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  cursor: pointer;
  padding: 3em;
  text-align: center;
  white-space: nowrap;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  font-size: 1.5em;
  color: #FFF;
  font-weight: 700;

  @include sp {
    padding: 1.5em;
  }
}

/* ボタン配置（使用する日本地図画像により微調整） */
.japan_map .area_btn.area1{
  background-color: rgba(100, 149, 237, 0.8);
  top: 15%;
  right: 5%;

  &:hover {
    background-color: rgba(100, 149, 237, 1);
    transition: 1.0s;
  }
}
.japan_map .area_btn.area2{
  background-color: rgba(102, 205, 170, 0.8);
  top: 60%;
  right: 3%;

  &:hover {
    background-color: rgba(102, 205, 170, 1);
    transition: 1.0s;
  }
}
.japan_map .area_btn.area3{
  background-color: rgba(46, 139, 87, 0.8);
  top: 42%;
  right: 24%;
  &:hover {
    background-color: rgba(46, 139, 87, 1);
    transition: 1.0s;
  }
}
.japan_map .area_btn.area4{
  background-color: rgba(255, 215, 0, 0.8);
  top: 67%;
  left: 45%;
  &:hover {
    background-color: rgba(255, 215, 0, 1);
    transition: 1.0s;
  }
}
.japan_map .area_btn.area5{
  background-color: rgba(210, 105, 30, 0.8);
  top: 52%;
  left: 23%;
  &:hover {
    background-color: rgba(210, 105, 30, 1);
    transition: 1.0s;
  }
}
.japan_map .area_btn.area6{
  background-color: rgba(178, 34, 34, 0.8);
  top: 65%;
  left: -2%;
  &:hover {
    background-color: rgba(178, 34, 34, 1);
    transition: 1.0s;
  }
}
/* オーバーレイ */
.japan_map .area_overlay{
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: #111;
  opacity: 0.5;
  cursor: pointer;
}

/* 選択前は表示を隠す */
.japan_map .pref_area{
  display: none;
}

/* 地域毎の都道府県リスト */
.japan_map .pref_list{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  z-index: 3;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90%;
  background-color: #FFF;
}
.japan_map .pref_list > div{
  box-sizing: border-box;
  width: 50%;
  border: 1px solid #CCC;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  cursor: pointer;

  p {
    margin: 0;
    font-size: 1.2em;
  }
}

.pref_xbtn {
  top: 3%;
  right: 5%;
  position: absolute;
  font-size: 3em;
  color: #eee;
  z-index: 4;
  cursor: pointer;

  @include sp {
    font-size: 2em;
  }
}

@media screen and (max-width: 480px){
  /* スマホユーザー向けにボタン文字サイズを調整 */
  .japan_map .area_btn{
      font-size: 4vw;
  }
}
